/lab02 v1.1/nbproject/private/
/lab02 v1.1/build/
/Desafio1P1/nbproject/private/
/Desafio1P1/build/
/Desafio2P2/nbproject/private/
/Desafio2P2/build/
/Desafio2/nbproject/private/
/Desafio2/build/
/Desafio3/nbproject/private/
/Desafio3/build/
/Desafio4/nbproject/private/
/Desafio4/build/
/Emprestimo/nbproject/private/
/Agiota/nbproject/private/
/Agiota/build/
/mc323.lab03/nbproject/private/
/mc323.lab03/build/